<nav class="header__nav" role="navigation" aria-label="Main navigation">
  <!-- Top row: logo and hamburger -->
  <div class="header__top-row">
    <h2 class="header__title">
      <a class="logo-link" href="index.html" aria-current="page">UnitedRelief</a>
    </h2>

    <!-- Hamburger Button -->
    <button class="header__toggle" aria-label="Toggle navigation">
      <img src="../assets/icons/hamburger-button-50.png" alt="burger menu" class="header__hamburger-menu" aria-hidden="true" />
    </button>
  </div>

  <!-- Nav Links -->
  <ul class="header__nav-list" id="header-menu">
    <li class="header__nav-item">
      <a class="header__nav-link" href="../pages/forms/relief_request.html">Submit Help Request</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#about">About</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="pages/contact.html">Contact</a>
    </li>
    <li class="header__nav-item">
      <button class="header__nav-item-bg">
        <a class="header__nav-link-signin" href="pages/sign-in.html">Sign In / Sign Up</a>
      </button>
    </li>
<!--    <li class="header__nav-item">-->
<!--      <a class="header__nav-link" href="pages/sign-up.html">Sign Up</a>-->
<!--    </li>-->
  </ul>
</nav>
